:root {
  --primarycolor: #79AC78;
}
.btn-orange {
    background-color: var(--primarycolor);
    border-color: var(--primarycolor);
    color: #000;
  }
.btn-orange:hover {
  background-color: #f7ebe7;
  border-color: #000;
  color: var(--primarycolor);
}
.first__col {
  padding: 0 5%;
}
.Food__btn {
  background-color: #f7ebe7;
  border-color: var(--primarycolor);
  color: var(--primarycolor);
}
.Food__btn:hover {
  background-color: var(--primarycolor);
  color: #f7ebe7;
}

@media screen and (max-width: 425px) {
  .body__row {
    flex-direction: column;
  }
}




