:root {
  --primarycolor: #79AC78;
  --secondarycolor: #019147;
  --thirdcolor: #646464;
  --black: #121413;
  --button: #ff9822;
  --hover: #8a8a8a;
  --transition: 0.5s;
  --padding: 5px;
  --margin: 25px auto;
  --font-size: 1rem;
  --heading-size: 1.5rem;
}
.btn-orange {
    background-color: var(--primarycolor);
    border-color: var(--primarycolor);
    color: #000;
  }
.btn-orange:hover {
  background-color: #f7ebe7;
  border-color: #000;
  color: var(--primarycolor);
}


.first__col {
  padding: 0 5%;
}

.Careerly__btn {
  background-color: #f7ebe7;
  border-color: var(--primarycolor);
  color: var(--primarycolor);
}
.Careerly__btn:hover {
  background-color: var(--primarycolor);
  color: #f7ebe7;
}




